.LoginContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WarningText{
    color : red;
    font-size: 14px;;
}

.InputWrapper{
    margin-top: 1em;
}